html, body {
    height: 100%;
}

#debug {
    text-align:center;
}

.menu-item,
.menu-head,
.dialog {
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	display: block;
	text-align: center;
	text-decoration: none;
	color: black;
}

.dialog {
	margin: 50px;
	pointer-events: auto;
	cursor: default;
}

.close-occupation {
	margin: 5px;
	border-bottom: 1px solid #ccc;
}

.close {
	margin: 2px;
	position: absolute;
}

.close:hover,
.menu-item:hover {
	background-color: #f4f4f4;
}

.dialog-body {
	margin: 5px;
	width: 500px;
	height: 100px;
}