<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>

</head>

<body>
    <link rel="stylesheet" href="../lib/leaflet.css" />
    <link rel="stylesheet" href="kedama-map.css" />
    <div id="map" >

    </div>
    <div id="debug"></div>
    <script src="https://silentdepth.me/KedamaMC-Unofficial-Map/markers.js"></script>
    <script src="../lib/leaflet.js"></script>
    <script src="kedama-map.js"></script>
</body>
</html>